/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  block-size: 100%;
}

body {
  margin: 0 auto;
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  font-style: var(--main-font-style);
  line-height: var(--main-line-height);
  background: var(--background);
  background-color: var(--background-color);
  background-attachment: fixed;
  min-inline-size: 375px;
  max-inline-size: 1440px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1em;
}

ul {
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
