
@media (prefers-color-scheme: light) {
  :root {
  --background-color: #FFF1F7;
  --background-image: image-set(
    url('../images/cover-image-light.png') type('image/png') 1x,
    url('../images/cover-image-light-2x.png') type('image/png') 2x);
  --background: var(--background-color) var(--background-image) no-repeat center / cover;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --accent-color-rgb: 50, 49, 45;
  --text-color: #353430;
  --decor-color: #353430;
  --button-color: #353430;
  --button-color-rgb: 53, 52, 48;
  --subtitle-color: #353430;
  --section-title-color: #353430;
  }

  .decorated-zone__tag {
    display: none;
  }
}

/* ---------------------------------------------------------------------------------- */

.page.theme_light {
  --background-color: #FFF1F7;
  --background-image: image-set(
    url('../images/cover-image-light.png') type('image/png') 1x,
    url('../images/cover-image-light-2x.png') type('image/png') 2x);
  --background: var(--background-color) var(--background-image) no-repeat center / cover;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --accent-color-rgb: 50, 49, 45;
  --text-color: #353430;
  --decor-color: #353430;
  --button-color: #353430;
  --button-color-rgb: 53, 52, 48;
  --subtitle-color: #353430;
  --section-title-color: #353430;
  transition: all 1s ease;
}

.theme_light .decorated-zone__tag {
  display: none;
}