
@media (prefers-color-scheme: light) {
  :root {
  --background-color: #FFF1F7;
  --background-image: image-set(
    url('../images/cover-image-light.png') type('image/png') 1x,
    url('../images/cover-image-light-2x.png') type('image/png') 2x);
  --background: var(--background-color) var(--background-image) no-repeat center / cover;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --accent-color-rgb: 50, 49, 45;
  --text-color: #353430;
  }

  .decorated-zone__tag {
    display: none;
  }

  .decorated-zone::before {
    border-top: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
  }

  .decorated-zone::after {
    border-bottom: 1px solid var(--text-color);
    border-left: 1px solid var(--text-color);
  }

  .header__theme-menu-button {
    color: var(--text-color);
  }

  .header__theme-menu-button_active {
    outline: 0.056em solid var(--text-color);
  }

  .header__theme-menu-button:hover {
    outline: 0.056em solid rgba(var(--accent-color-rgb), 0.4);
  }

  .header__theme-menu-button:focus {
    outline: none;
  }

  .header__theme-menu-button:focus-visible {
    box-shadow: 0px 1px 0px 0px var(--text-color);
  }

  .title-decor {
    color: var(--text-color);
  }

  .section-title {
    color: var(--text-color);
  }
}


/* ---------------------------------------------------------------------------------- */
.page.theme_light {
  --background-color: #FFF1F7;
  --background-image: image-set(
    url('../images/cover-image-light.png') type('image/png') 1x,
    url('../images/cover-image-light-2x.png') type('image/png') 2x);
  --background: var(--background-color) var(--background-image) no-repeat center / cover;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --accent-color-rgb: 50, 49, 45;
  --text-color: #353430;
  transition: all 1s ease;
}


/* --------------- decorated-zone */
.theme_light .decorated-zone::before {
  border-block-start-color: var(--text-color);
  border-inline-end-color: var(--text-color);
}

.theme_light .decorated-zone::after {
  border-block-end-color: var(--text-color);
  border-inline-start-color: var(--text-color);
}

/* --------------- tag */
.theme_light .decorated-zone__tag {
  display: none;
}

/* --------------- buttons */
.theme_light .header__theme-menu-button {
 color: var(--text-color);
}

.theme_light .header__theme-menu-button_active {
  outline-color: var(--text-color);
}

/* --------------- status */
.theme_light .header__theme-menu-button:hover {
  outline-color: rgba(var(--accent-color-rgb), 0.4);
}


.theme_light .header__theme-menu-button:focus-visible {
  box-shadow: 0px 1px 0px 0px var(--text-color);
}

/* --------------- title */
.theme_light .title-decor {
  color: var(--text-color);
}

.theme_light .section-title {
  color: var(--text-color);
}