/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */


/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
.page {
  inline-size: 100%;
}


/* ------------------------------- HEADER ------------------------------- */
.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
  padding: 2.6vw;
  block-size: 100vh;
  min-block-size: 420px; /* нужно для горизонтального вида мобильного экрана,
  чтобы меню не наезжало на декоративный элемент в темной теме */
}

/* --------------- decorated-zone */
.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 2.4vw;
  left: 2.7vw;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  inline-size: 1.38em;
  block-size: 1.38em;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 2.7vw;
  right: 2.7vw;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  inline-size: 1.38em;
  block-size: 1.38em;
}

/* --------------- tag */
.tag {
  position: absolute;
  top: 2.6vw;
  right: 10%;
  color: var(--accent-color);
  font-weight: normal;
  font-size: var(--main-font-size);
  line-height: 1.4em;
  text-transform: uppercase;
}

.tag::after {
  content: "";
  position: absolute;
  top: 2vw;
  right: -18px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px  var(--accent-color);
  background: var(--accent-color);
  inline-size: 0.5em;
  block-size: 0.5em;
}

/* --------------- menu */
.header__theme-menu {
  justify-self: flex-end;
  margin-inline-end: 2px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 0.55em;
}

/* --------------- buttons */
.header__theme-menu-button {
  border: none;
  padding-inline: 12px;
  padding-block-start: 1px;
  padding-block-end: 5px;
  color: var(--accent-color);
  line-height: 1em;
  text-transform: lowercase;
  background: transparent;
}

.header__theme-menu-button_active {
  outline: 0.056em solid var(--accent-color);
}

/* --------------- status */
.header__theme-menu-button:hover {
  outline: 0.056em solid rgba(var(--accent-color-rgb), 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  box-shadow: 0px 1px 0px 0px var(--accent-color);
  outline: none;
}

/* --------------- title */
.title {
  margin-block-start: 2px;
  color: var(--title-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-transform: lowercase;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.subtitle {
  margin: 0;
}

.title-decor {
  color: var(--background-color);
  font-weight: bold;
  line-height: 1.3em;
  background-color: var(--accent-color);
  block-size: fit-content;
}

.title-decor_margin-block {
  margin-block-end: 1.1em;
}

.title-decor_normal-weight {
  font-weight: normal;
}


/* ------------------------------- HEADER-MEDIA ------------------------------- */
/* @media (width >= 768px) {

  .title {
    margin-inline-start: -20px;
  }

  .subtitle {
    justify-self: flex-end;
    max-inline-size: 50%;
  }
} */


/* ------------------------------- MAIN ------------------------------- */
.why {
  display: grid;
  margin-inline: 2.6vw;
  padding-block-start: 2.25em;
}

.what {
  display: grid;
  margin-inline: 2.6vw;
  padding-block-start: 1.6em;
}

.how {
  margin-inline: 2.6vw;
  padding-block-start: 1.65em;
}

/* --------------- title */
.section-title {
  margin-block-end: 1.1em;
  color: var(--accent-color);
  font-weight: bold;
  line-height: 1.33em;
}

/* --------------- text */
.text {
  padding-block-start: 0.55em;
  padding-block-end: 1.1em;
  color: var(--text-color);
  line-height: 1.3em;
}

/* --------------- link */
.text-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

/* --------------- status */
.text-link:hover {
  line-height: 1em;
}

.text-link:hover::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: var(--text-color);
  block-size: 1px;
  inline-size: 100%;
}

.text-link:active {
  text-decoration: none;
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  padding-right: 1px;
  padding-bottom: 5px;
  outline: 1px solid var(--text-color);
  line-height: 0.5em;
}


/* ------------------------------- MAIN-MEDIA ------------------------------- */
/* @media (width >= 768px) {

} */


/* ------------------------------- GALLERY ------------------------------- */
.gallery {
  margin-inline: 2.6vw;
  padding-block-start: 1.7em;
}

.gallery__box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.6vw;
  padding-block-start: 2.6vw;
}

/* --------------- image */
.gallery__image {
  display: block;
  width: 100%;
}


/* ------------------------------- GALLERY-MEDIA ------------------------------- */
/* @media (width >= 768px) {

} */


/* ------------------------------- FOOTER ------------------------------- */
.footer {
  display: grid;
  align-items: center;
  height: 100vh;
  margin-block-start: 2.25em;
}

.title_footer {
  justify-self: center;
  text-shadow: 2px 2px 0 var(--accent-color);
}