
.page {
  inline-size: 100%;
}

/* ------------------------------- HEADER ------------------------------- */
.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
  padding: var(--main-mobile-padding);
  block-size: 100vh;
  min-block-size: 668px;
}

/* --------------- decorated-zone */
.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--main-mobile-padding);
  right: var(--main-mobile-padding);
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
  inline-size: 1.38em;
  block-size: 1.38em;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--main-mobile-padding);
  left: var(--main-mobile-padding);
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
  inline-size: 1.38em;
  block-size: 1.38em;
}

/* --------------- tag */
.decorated-zone__tag {
  position: absolute;
  top: var(--main-mobile-padding);
  /* right: 38px; */
  right: calc(var(--main-mobile-padding) + 28px);
  color: var(--decor-color);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  text-transform: uppercase;
}

.decorated-zone__tag::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -20px;
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px  var(--decor-color);
  background: var(--decor-color);
  inline-size: 0.5em;
  block-size: 0.5em;
}

/* --------------- menu */
.header__theme-menu {
  justify-self: flex-end;
  margin-inline-end: 2px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--main-mobile-padding);
}

/* --------------- buttons */
.header__theme-menu-button {
  border: none;
  padding: 1px 12px 5px;
  color: var(--button-color);
  line-height: 1em;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 0.056em solid var(--button-color);
}

/* --------------- status */
.header__theme-menu-button:hover {
  outline: 0.056em solid rgba(var(--button-color-rgb), 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  box-shadow: 0px 1px 0px 0px var(--button-color);
  outline: none;
}

/* --------------- title */
.header__title {
  margin-block-start: 2px;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title {
  color: var(--title-color);
  font-weight: var(--bold-font-weight);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-transform: lowercase;
}

.title-decor {
  color: var(--subtitle-color);
  font-weight: var(--bold-font-weight);
  line-height: var(--main-line-height);
  background-color: var(--accent-color);
}


/* ------------------------------- HEADER-MEDIA ------------------------------- */
@media (width >= 768px) {
  .header {
    padding: var(--main-desktop-padding);
  }

  .decorated-zone::before {
    top: var(--main-desktop-padding);
    right: var(--main-desktop-padding);
  }

  .decorated-zone::after {
    bottom: var(--main-desktop-padding);
    left: var(--main-desktop-padding);
  }

  .decorated-zone__tag {
    top: var(--main-desktop-padding);
    /* right: 49px; */
    right: calc(var(--main-desktop-padding) + 29px);
  }

  .header__title {
    margin: 3px 0 0 -20px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__subtitle {
    justify-self: flex-end;
    margin-block-start: -1px;
    max-inline-size: 50%;
  }
}

/* ------------------------------ Desktop */
@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
    margin: -1px 0 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 13px;
  }

  .header__title {
    margin-block-start: 0;
  }
}


/* ------------------------------- MAIN ------------------------------- */
.main {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding: 40px var(--main-mobile-padding);
}

.main__section {
  display: grid;
  gap: var(--main-desktop-padding);
}

/* --------------- title */
.section-title {
  color: var(--section-title-color);
  font-weight: var(--bold-font-weight);
  line-height: var(--main-line-height);
}

.title-decor_normal-weight {
  font-weight: var(--main-font-weight);
}

/* --------------- text */
.section-text {
  padding: var(--main-mobile-padding) 0 calc(var(--main-mobile-padding) * 2);
  color: var(--text-color);
  line-height: var(--main-line-height);
}

.section-list-item:last-child .section-text {
  padding-block-end: 0;
}

/* --------------- link */
.text-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

/* --------------- status */
.text-link:hover {
  border-block-end: 1px solid var(--text-color);
  line-height: 1em;
}

.text-link:active {
  text-decoration: none;
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  padding: 0 1px 5px 0;
  outline: 1px solid var(--text-color);
  line-height: 0.5em;
}


/* ------------------------------- MAIN-MEDIA ------------------------------- */
@media (width >= 768px) {
  .main {
    row-gap: 80px;
    padding: 60px var(--main-desktop-padding) 64px;
  }

  .main__section_why {
    grid-template-columns: 1fr 2fr;
    row-gap: 0;
    column-gap: var(--main-desktop-padding);
  }

  .main__section_why .section-title {
    grid-row: span 2;
  }

  .main__section_what .section-title {
    max-inline-size: min-content;
  }

  .main__section_how {
    grid-template-columns: 1fr 2fr;
    gap: var(--main-desktop-padding);
  }

  .main__section_how .section-title {
    grid-row: span 2;
  }
}

/* ------------------------------ Desktop */
@media (width >= 1024px) {
  .main {
    padding: 60px var(--main-desktop-padding) 65px;
  }

  .main__section_why {
    column-gap: var(--main-mobile-padding);
  }

  .main__section_what .section-title {
    max-inline-size: 15em;
  }

  .main__section_what .section-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--main-desktop-padding);
  }

  .main__section_what .section-text {
    padding-block-end: 0;
  }

  .main__section_how {
    column-gap: var(--main-mobile-padding);
  }
}


/* ------------------------------- GALLERY ------------------------------- */
.main__gallery {
  margin-block-start: -1px;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: var(--main-mobile-padding);
}

.gallery__box {
  display: grid;
  gap: var(--main-mobile-padding);
}

/* --------------- image */
.gallery__image {
  display: block;
  object-fit: cover;
  color: var(--background-color);
  background-color: var(--title-color);
  inline-size: 100%;
  block-size: 100%;
}


/* ------------------------------- GALLERY-MEDIA ------------------------------- */
@media (width >= 768px) {
  .gallery {
    gap: var(--main-desktop-padding);
  }

  .gallery__box {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: dense;
    gap: var(--main-desktop-padding);
  }

  .gallery__image:nth-child(1) {
    grid-column: span 2;
  }

  .gallery__image:nth-child(2) {
    grid-column: 3;
    grid-row: span 2;
  }

  .gallery__image:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }
}


/* ------------------------------- FOOTER ------------------------------- */
.footer {
  display: grid;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  justify-self: center;
  margin-block-start: 2px;
  text-shadow: 2px 2px 0 var(--accent-color);
}
